@media (max-width: 767px) { 
header{
    background: url(../images/header_bg02.jpg)no-repeat;
    
    background-size: cover;
    margin-bottom: 50px;
    background-position: center center;
    
}
    .description {
    width: 40%;
}
       .icon {
   font-size: 49px;
margin-top: 119px;
color: #c3cfe5;
margin-left: 25px;
}
       .content_download {
    width: 60%;
}

    .screen_img img, .widget_img img {
    width: 100%;
    margin-top: 74px;
}
    .content_download{
        
    }
}
@media (min-width: 768px) and (max-width:991px) { 
  .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    }
.description {
    width: 50%;
}
    .icon {
    font-size: 60px;
    margin-top: 154px;
    color: #c3cfe5;
    margin-left: 44px;
}
    .content_download {
    width: 51%;
}

}
@media (min-width:992px) and (max-width:1199px) { 

    
    }
@media (min-width: 1200px) { ... }